* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body section */
body {
  border: 1px solid red;
  padding: 10px;
  margin: 1%;
  padding-top: 5%;
}

/* Header */
.main-header {
  font-family: Helvetica;
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  background-image: url(./images/pattern.jpeg);
}

/* Brushes section */

img {
  display: block;
  margin-bottom: 10px;
}
.brushes {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color: mediumspringgreen;
  margin-top: 5%;
  margin-bottom: 3%;
}

h2 {
  margin-bottom: 10px;
}

p {
  margin-bottom: 10px;
}

.strong-text {
  font-family: helvetica;
  font-weight: bold;
  color: blue;
}
